* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

li a{
  text-decoration: none;
  list-style: none;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}
li a:hover{
  color: black;
}
main {
  height: 500px;
  display: grid;
  margin: auto;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
/* LOGOTIPO */

.navbar-brand {
  text-align: center;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  background: rgb(131, 131, 134);
  background: linear-gradient(
    130deg,
    rgba(131, 131, 134, 0.9587185215883228) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(112, 103, 112, 1) 0%,
    rgba(9, 9, 9, 1) 0%,
    rgba(20, 14, 230, 1) 53%,
    rgba(249, 249, 249, 1) 99%,
    rgba(213, 70, 190, 1) 100%,
    rgba(232, 2, 223, 0) 100%
  );
}

span {
  color: white;
  font-size: 30px;
  font-family: "Rubik Moonrocks", cursive;




}

/* FIN LOGOTIPO */

li {
  margin: 5%;
  font-size: 25px;
  cursor: pointer;
  font-family: "Rubik Moonrocks", cursive;
}

.section {
  margin-top: 5%;
}
#works {
  width: 100%;
  padding: 5%;
  margin-top: 1%;
  text-align: center;
}
h1,
h5,
h2 {
  margin: auto;
  object-fit: cover;
  text-align: center;
  font-family: "Rubik Moonrocks", cursive;
}
.divh2 {
  display: flex;
  margin: auto; 
}
.tipeo{
  white-space: nowrap;
  border-right: 4px solid;
  width: 25ch;

  animation: typing 6s steps(25) infinite,
  blink .5s infinite step-end alternate ;
   overflow:hidden;
}

@keyframes typing {
  from { width: 0}
};
@keyframes blink {
  50% {border-color: transparent}
}

.parrafo {
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 80px;
  
}
.parrafo p {
  margin-top: 30%;
  font-size: 25px;
  color: rgb(58, 53, 58);
}
p {
  font-family: 'Stint Ultra Expanded', cursive;
  width: 700px;
  margin-left: 32%;
  margin-right: 32%;
  color: rgb(86, 80, 86);
}











/* SECTION TRABAJOS */

#portfolio {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

#portfolio .titulo-seccion {
  text-align: center;
  font-size:  22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness:  5px;
}

#portfolio .fila {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

#portfolio .fila .proyecto{
  max-width:  450px;
  border: 1px solid #000;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

#portfolio .fila .proyecto img{
  width: 100%;
  height: 100%;
  filter:  grayscale(1);
  object-fit: cover;
  transition: .5s;
  
  
}

#portfolio .fila .proyecto img:hover{
  filter: grayscale(0);
  cursor: pointer;
}

#portfolio .fila .proyecto .info{
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  color: #ff5080;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}

#portfolio .fila .proyecto:hover .info{
  opacity:  1;
  bottom: 0;
  cursor: pointer;
}

/*FIN  SECTION TRABAJOS */


/* TEGNOLOGIAS */


.tegnologias div {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  
}
h4{
  text-align: center;
  font-family: 'Stint Ultra Expanded', cursive;
}
.tegnologias div p {
  margin: 4%;
  text-align: center;
  font-size: 120px;
}

.tegnologias div p:hover {
  cursor: pointer;
}

/* TEGNOLOGIAS */



/* FORMULARIO */

#contacto {
  padding:  100px 15px;
}

#contacto .titulo-seccion {
  margin-bottom: 20px;
  text-align: center;
  font-size:  22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#contacto .contenedor-form .fila {
  margin-bottom: 15px;
}
#contacto .contenedor-form .mitad {
  display: flex;
  justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
  padding: 20px;
  border-radius:  20px;
  border: none;
  border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input{
  width: 48%;
}

#contacto .contenedor-form .input-full{
  width: 100%;
}


#contaacto .btn-enviar{
  display: block;
  margin: auto;
  cursor: pointer;
  transition:  .5s;
  padding:  10px 15px;
}

#contacto .btn-enviar:hover {
  background-color:rgba(21, 14, 230, 0.796) ;
  color: white;
}

/*FIN  FORMULARIO */

footer {
  text-align: center;
  display: flex;
  align-content: space-between;
}
footer a {
  text-decoration: none;
  list-style: none;
  color: black;
}
footer a:hover {
  color: black;
}
footer li {
  margin: auto;
  list-style: none;
  font-size: 50px;
}

@media (max-width: 800px) {
  p {
    margin: auto;
    width: 100%;
    font-size: 13px;
  }
  .parrafo p {
    font-size: 20px;
  }
  i{
    font-size: 130%;
  }
  .li{
    font-size: 100%;
  }
  .card {
    width: 90%;
  }
  @media (max-width: 500px) {
    .parrafo {
      margin-top: 10%
    }
    .row{
      width: 90%
    }
    
#portfolio .fila .proyecto img{
      filter: grayscale(0);
    }
    .divh2 {
      width: 318px
    }
    .tegnologias{
      display: grid;
      margin: auto;
      justify-content: center;
      justify-items: center;
    }
    .tegnologias div p {
     font-size: 40px;
    }
    
};
};