* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

li a{
  text-decoration: none;
  list-style: none;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}
li a:hover{
  color: black;
}
main {
  height: 500px;
  display: grid;
  margin: auto;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
/* LOGOTIPO */

.navbar-brand {
  text-align: center;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  background: rgb(131, 131, 134);
  background: linear-gradient(
    130deg,
    rgba(131, 131, 134, 0.9587185215883228) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(112, 103, 112, 1) 0%,
    rgba(9, 9, 9, 1) 0%,
    rgba(20, 14, 230, 1) 53%,
    rgba(249, 249, 249, 1) 99%,
    rgba(213, 70, 190, 1) 100%,
    rgba(232, 2, 223, 0) 100%
  );
}

span {
  color: white;
  font-size: 30px;
  font-family: "Rubik Moonrocks", cursive;




}

/* FIN LOGOTIPO */

li {
  margin: 10%;
  font-size: 20px;
  cursor: pointer;
  font-family: "Rubik Moonrocks", cursive;
}

.section {
  margin-top: 5%;
}
#works {
  width: 100%;
  padding: 5%;
  margin-top: 1%;
  text-align: center;
}
h1,
h5,
h2 {
  object-fit: cover;
  text-align: center;
  font-family: "Rubik Moonrocks", cursive;
}
.parrafo {
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 80px;
}
.parrafo p {
  margin-top: 20%;
  font-size: 25px;
  color: rgb(58, 53, 58);
}
p {
  margin-left: 32%;
  margin-right: 32%;
  font-family: "Anton", sans-serif;
  color: rgb(58, 53, 58);
}


/* SECTION TRABAJOS */


img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  opacity: 0.5;
}
img:hover {
  opacity: 1;
  transform: translateY(-6%);
  cursor: pointer;
}
.card {
  border-radius: 15px 15px 0px 0px;
  width: 50%;
  display: grid;
  align-items: center;
  align-content: center;
  margin: auto;
}

.repositorio {
  color: black;
  font-size: 40px;
  text-decoration: none;
  list-style: none;
  font-family: "Anton", sans-serif;
}
.repositorio:hover {
  color: rgba(0, 0, 171, 0.751);
}

/*FIN  SECTION TRABAJOS */





/* FORMULARIO */

.formulario{
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: "Anton", sans-serif;
}
.formulario #floatingTextarea2{
  margin-bottom: 2%;
}

.formulario .btn {
  margin: auto;
  border: 2px solid black;
  padding: 5px;
}
.row {
  border: 2px solid rgba(95, 93, 93, 0.165);
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 50%;
  text-align: center;
}

/*FIN  FORMULARIO */

footer {
  text-align: center;
  display: flex;
  align-content: space-between;
}
footer a {
  text-decoration: none;
  list-style: none;
  color: black;
}
footer a:hover {
  color: black;
}
footer li {
  margin: auto;
  list-style: none;
  font-size: 50px;
}

@media (max-width: 800px) {
  p {
    margin: auto;
    width: 100%;
    font-size: 13px;
  }
  .parrafo p {
    font-size: 20px;
  }
  i{
    font-size: 130%;
  }
  .li{
    font-size: 100%;
  }
  .card {
    width: 90%;
  }
  @media (max-width: 500px) {
    .parrafo {
      margin-top: 10%
    }
    .row{
      width: 90%
    }
    img{
      opacity: 1;
    }
};
};